﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />

    <link href="{{ url_for('static', filename='Content/bootstrap.min.css') }}" rel="stylesheet" />
</head>
<body>
    <style>
        @font-face {
            font-family: 'slkscr';
            src: url('/static/fonts/slkscr.ttf') format('woff');
        }
        .navbar-nav li a {
            line-height: 70px;
            height: 70px;
            padding-top: 0;
        }
        .container-fluid {
            color: #FFFFFF;
            background-color: #F53A3A;
            border-color: #F53A3A;
        }
        .nav > li > a.active,
        .nav > li > a:focus {
            color: white;
            background-color: #F53A3A;
        }
        hr {
            border: 0;
            height: 1px;
            background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
        }
    </style>
    <!-- ############################### NAVBAR CODE ################################### -->
    <nav class="navbar navbar-inverse" style="padding-bottom:0; margin-bottom:0;">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li><a href="http://pixels.camp/schedule/" style="color:#ffffff"><strong>SCHEDULE</strong></a></li>
                <li><a href="https://pixels.camp/projects/" style="color:#ffffff"><strong>PROJECTS</strong></a></li>
                <li><a href="https://pixels.camp/badges/" style="color:#ffffff"><strong>BADGES</strong></a></li>
                <li><a href="https://pixels.camp/market/" style="color:#ffffff"><strong>MARKET</strong></a></li>
                <li><a href="https://pixels.camp/win/" style="color:#ffffff"><strong>CHALLENGES</strong></a></li>
                <li><a href="#" style="color:#ffffff"><strong>THE NETWORK GAME</strong></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="" style="; color:#ffffff"><strong>LOGIN</strong></a></li>
            </ul>
        </div>
    </nav>
    <!-- ############################# BACKGROUND IMAGE ################################### -->
    <div class="jumbotron" style="background-image: url('/static/imagens/pixels-camp-promo.jpg'); background-size:cover; background-position:center; height:400px; padding:0; margin:0">
        <div style="position:relative;left:455px;top:110px;"><a href="https://pixels.camp/" class="btn btn-info" role="button" style="height:200px; width:400px; background:transparent; border:none; color:transparent;"></a></div>
    </div>
    <!-- ############################# THE NETWORK GAME #################################### -->
    <div class="container" style="min-height:90vh; ">
        <div style="text-align:center; margin-top: 5px; margin-bottom: -18px; font-size: 100px; font-family: 'slkscr'; color:#ff1a1a">The Network Game</div>
        <br />
        <hr style="margin-top:15px" />
        <br />

        <h3 ><strong>MENU</strong></h3>
        <div class="row">
            <div class="col-md-3">
                <ul class="nav nav-pills nav-stacked">
                    <li onclick="click_top_pill()"><a href="#" id="top_pill"><h4><strong>TOP</h4></strong></a></li>
                    <li onclick="click_likeme_pill()"><a href="#" id="likeme_pill"><h4><strong>LIKE ME</strong></h4></a></li>
                    <li onclick="click_bios_pill()"><a href="#" id="bios_pill"><h4><strong>MY BIOS</strong></h4></a></li>
                </ul>
            </div>
            <div class="col-md-9">
                <div id="top_info" style="width:100%; height:200px; overflow: auto;">
                    <h3><strong>title1</strong></h3>
                    <p>
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                    </p>
                </div>
                <div id="likeme_info" style="width:100%; height:200px; overflow: auto;">
                    <h3><strong>title2</strong></h3>
                    <p>text text text text text text text text text
                    text text text text text text text text text
                    text text text text text text text text text
                    text text text text text text text text text
                    text text text text text text text text text
                    text text text text text text text text text
                    text text text text text text text text text
                    text text text text text text text text text
                    text text text text text text text text text
                    text text text text text text text text text
                    text text text text text text text text text
                    text text text text text text text text text
                    text text text text text text text text text
                    text text text text text text text text text
                    text text text text text text text text text
                    text text text text text text text text text
                    text text text text text text text text text
                    text text text text text text text text text
                    text text text text text text text text text
                    text text text text text text text text text
                    text text text text text text text text text
                    text text text text text text text text text
                    text text text text text text text text text
                    text text text text text text text text text
                    text text text text text text text text text
                    text text text text text text text text text
                    text text text text text text text text text
                    text text text text text text text text text
                    text text text text text text text text text
                    text text text text text text text text text
                    text text text text text text text text text
                    text text text text text text text text text
                    text text text text text text text text text
                    text text text text text text text text text
                    text text text text text text text text text
                    text text text text text text text text text
                    text text text text text text text text text
                    text text text text text text text text text
                    text text text text text text text text text
                    text text text text text text text text text
                    text text text text text text text text text
                    text text text text text text text text text
                    text text text text text text text text text
                    text text text text text text text text text
                    text text text text text text text text text
                    text text text text text text text text text
                    text text text text text text text text text
                    text text text text text text text text text
                    text text text text text text text text text
                    text text text text text text text text text
                    text text text text text text text text text
                    text text text text text text text text text
                    text text text text text text text text text
                    text text text text text text text text text
                    text text text text text text text text text
                    text text text text text text text text text
                    text text text text text text text text text
                    text text text text text text text text text
                    text text text text text text text text text
                    text text text text text text text text text
                    text text text text text text text text text
                    text text text text text text text text text
                    text text text text text text text text text
                    text text text text text text text text text
                    text text text text text text text text text
                    text text text text text text text text text
                    text text text text text text text text text
                    text text text text text text text text text
                    text text text text text text text text text
                    text text text text text text text text text
                    text text text text text text text text text
                    text text text text text text text text text
                    text text text text text text text text text
                    text text text text text text text text text
                    text text text text text text text text text
                    text text text text text text text text text
                    text text text text text text text text text
                    text text text text text text text text text
                    text text text text text text text text text
                    text text text text text text text text text
                    </p>
                </div>
                <div id="bios_info" style="width:100%; height:200px; overflow: auto;">
                    <h3><strong>title3</strong></h3>
                    <p>
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                        text text text text text text text text text
                    </p>
                </div>
            </div>
            <div class="clearfix visible-lg"></div>
        </div>
    </div>

   

    <script src="static/Scripts/jquery-3.1.1.min.js"></script>
    <script src="static/Scripts/bootstrap.min.js"></script>

    <script>
        $(document).ready(function () {
            $('.top_pill').click(function () {
                $('.top_info').show();
                $('.likeme_info').hide();
                $('.bios_info').hide();
            });
        });
    </script>
</body>
</html>